.editor-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0 0.5rem;
  height: 100vh;
}

.editor-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.editor-header,
.output-header {
  background-color: #333;
  color: whitesmoke;
  padding: 10px 15px;
  font-size: 14px;
  font-weight: bold;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.editor-code-container {
  display: flex;
  gap: 20px;
}

.editor-code {
  width: 100%;
}

.editor-code-error {
  width: 65%;
}

.editor-fix {
  width: 35%;
}

.output-section-container {
  display: flex;
  flex-direction: column;
  margin: 0 0.5rem;
  gap: 20px;
}

.output-section {
  width: 100%;
}

.output-section-wrapper {
  display: flex;
  gap: 20px;
}

.output-box,
.explanation-box {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.explanation-content {
  background-color: #1e1e1e;
  color: whitesmoke;
  padding: 15px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow-y: auto;
  max-height: calc(60vh - 40px); 
}