.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1a1a1a;
    padding: 10px;
    color: white;
  }
  
  .left-section {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-left: 1rem;
  }
  
  .right-section {
    display: flex;
    align-items: center;
  }
  
  #language-select {
    padding: 8px;
    font-size: 14px;
  }

