@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 1s ease-in;
}

.animate-slideIn {
  animation: slideIn 0.5s ease-out;
}

.editor {
  height: 400px;
}
