/* Increase the brand font size */
.navbar-brand {
  font-size: 2rem; /* Adjust the size as needed */
}

/* Increase the navigation item font size */
.nav-link {
  font-size: 1.25rem; /* Adjust the size as needed */
  margin-right: 1.5rem; /* Adjust the spacing as needed */
}

.footer-text {
  font-size: 1.2rem; /* Adjust font size as needed */
  margin-right: 20px; /* Adjust spacing between elements */
}

.footer-link {
  text-decoration: none;
  color: white; /* Link text color */
  margin-right: 10px; /* Adjust spacing between elements */
}

